<div class="card card-solid">
	<div class="card-header">
		<h3 class="card-title">Biens Immobiliers ({{ immobiliers.getTotalItemCount }})</h3>

		<div class="card-tools">
			<a href="{{ path('admin_immobiliers_new') }}" class="btn btn-primary">Ajouter</a>
		</div>
	</div>
	<div class="card-body table-responsive p-0">

		<table class="table table-hover projects">
			<thead>
				{% if app.request.attributes.get('_route') == 'admin_immobiliers_index' %}
				<tr class="bg-light">
					<td colspan="8">
						{{ include('admin/admin_immobiliers/_search_immobilier.html.twig') }}

						<br>
						<p>
							Affichage de {{ current }} à {{ immobiliers|length }} sur 
							<strong>{{ immobiliers.getTotalItemCount }}</strong>
						</p>
					</td>
				</tr>
				{% endif %}
				<tr>
					<th>Id</th>
					<th>Immoilier</th>
					<th>Intitulé</th>
					<th>Tarif</th>
					<th>Type</th>
					<th>Statut</th>
					<th>Online</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for immobilier in immobiliers %}
				<tr>
					<td>{{ immobilier.id }}</td>
					<td>

						{% if immobilier.imageName %}

						<img src="{{ vich_uploader_asset(immobilier) | imagine_filter('medium_avatar') }}" class="">

						{% else %}

						<div class="small-box bg-white p-2 text-center" style="width: 80px;">
							<i class="fa fa-home text-secondary fa-3x"></i>
						</div>

						{% endif %}

					</td>
					<td>{{ immobilier.name|u.truncate(30, '...') }}</td>
					<td><strong>{{ immobilier.tarif|number_format(0, ',', ' ') ~ ' ' ~ currency }}</strong></td>
					<td><span class="badge badge-light text-uppercase">{{ immobilier.categorie.name ?? 'Non classé' }}</span></td>
					<td><span class="badge badge-light text-uppercase">{{ immobilier.statut }}</span></td>
					<td>
						<span class="badge text-uppercase badge-{{ immobilier.online ? 'success' : 'secondary' }}">
							{{ immobilier.online ? 'En ligne' : 'Hors ligne' }}
						</span>
					</td>
					<td>
						<a href="{{ path('admin_immobiliers_show', {'id': immobilier.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-eye"></i></a>
						<a href="{{ path('admin_immobiliers_edit', {'id': immobilier.id}) }}" class="btn btn-default btn-sm">
							<i class="fa fa-edit"></i></a>
							{{ include('admin/admin_immobiliers/_delete_form.html.twig') }}
						</td>
					</tr>
					{% else %}
					<tr>
						<td colspan="15">Aucun bien immobilier</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

		<div class="card-footer">
			{{ knp_pagination_render(immobiliers) }}
		</div>
	</div>
