{% extends 'admin.html.twig' %}

{% block title %}Villes{% endblock %}

{% block pagelink %}
<li class="breadcrumb-item"><a href="{{ path('admin_ville_index') }}">Villes</a></li>
{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ville ({{ villes|length }})</h3>

        <div class="card-tools">
            <a href="{{ path('admin_ville_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
    <div class="card-body table-responsive p-0">

        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Intitulé</th>
                    <th>Image</th>
                    <th>Couleur</th>
                    <th>Nombre de biens</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ville in villes %}
                <tr>
                    <td>{{ ville.id }}</td>
                    <td>{{ ville.name }}</td>
                    <td>
                        {% if ville.imageName %}

                        <img src="{{ vich_uploader_asset(ville) | imagine_filter('medium_avatar') }}" class="">

                        {% else %}

                        {% endif %}
                    </td>
                    <td>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background: {{ ville.hexColor  }}">
                          <span class="sr-only">100% Complete (success)</span>
                      </div>
                  </div>
              </td>
              <td class="text-center"><span class="badge badge-secondary">{{ ville.immobiliers|length }}</span></td>
              <td>Créer le {{ ville.created ? ville.created|date('d/m/Y') : '' }}</td>
              <td>
                <a href="{{ path('admin_ville_edit', {'id': ville.id}) }}" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Modifier</a>
                {{ include('admin/admin_ville/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">Aucune ville</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
