<div class="container">
		<a class="navbar-brand" href="{{ path('accueil') }}">
			{% if app.request.attributes.get('_route') == 'accueil' %}
				<img src="{{ asset('themes/front/images/logo.png') }}" alt="{{ appName }} Logo">
			{% endif %}
			<img src="{{ asset('themes/front/images/logo-stiky.png') }}" alt="{{ appName }} logo">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav99">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="main_nav99">
			<ul class="navbar-nav mx-auto ">
				<li class="nav-item">
					<a href="{{ path('accueil') }}" class="nav-link active"> Annonces </a>
				</li>
				<li class="nav-item">
					<a href="{{ path('immobiliers') }}" class="nav-link active"> Biens Immobiliers </a>
				</li>
				<li class="nav-item dropdown">
					<a href="{{ path('annonces') }}" class="nav-link"> Actualités </a>
				</li>

				<li class="nav-item"><a class="nav-link" href="{{ path('contact') }}"> contact </a></li>
			</ul>
		</div> <!-- navbar-collapse.// -->
	</div>