<nav class="navbar navbar-hover navbar-expand-lg navbar-soft navbar-dark bg-white d-none d-sm-block pt-4 pb-4 border-bottom">
	<div class="container">
		<a class="navbar-brand mx-auto" href="{{ path('accueil') }}">
			<!--{% if app.request.attributes.get('_route') == 'accueil' %}
			<img src="{{ asset('themes/front/images/logo.png') }}" alt="{{ appName }} Logo">
			{% endif %}-->
			<img src="{{ asset('themes/front/images/logo-stiky.png') }}" alt="{{ appName }} logo">
		</a>
	</div>
</nav>