<div class="row">
                        <div class="col-lg-12">
                            <div class="single__detail-desc">
                                <h6 class="text-capitalize detail-heading">description</h6>
                                <div class="show__more">
                                    {{ immobilier.description|raw }}
                                    <a href="javascript:void(0)" class="show__more-button ">Lire plus</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <!-- PROPERTY DETAILS SPEC -->
                            <div class="single__detail-features">
                                <h6 class="text-capitalize detail-heading">Details</h6>
                                <!-- INFO PROPERTY DETAIL -->
                                <div class="property__detail-info">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <ul class="property__detail-info-list list-unstyled">
                                                <li><b>Tarif:</b> {{ immobilier.tarif|number_format(0, ',', ' ') ~ currency }}</li>
                                                <li><b>Surface:</b> {{ immobilier.surfaceMin }} m<sup>2</sup>
                                                	Sur {{ immobilier.surfaceMax }} m<sup>2</sup></li>

												{% if immobilier.chambres >= 1 %}
												<li>
													<b>Chambres</b>
													{{ immobilier.chambres }}
												</li>
												{% endif %}

                                                {% if immobilier.salleBain %}
												<li>
													<b>Salle de bain</b>
													{{ immobilier.salleBain }}
												</li>
												{% endif %}
                                            </ul>
                                        </div>
                                        <!--<div class="col-md-6 col-lg-6">
                                            <ul class="property__detail-info-list list-unstyled">
                                                {% if immobilier.garage >= 1 %}
                                                <li>
                                                    <b>Garages</b>
                                                    {{ immobilier.chambres }}
                                                </li>
                                                {% endif %}

                                                <li><b>Garage:</b> 1</li>
                                                <li><b>Garage Size:</b> 458 SqFt</li>
                                                <li><b>Year Built:</b> 2019-01-09</li>
                                                <li><b>Property Type:</b> Full Family Home</li>
                                                <li><b>Property Status:</b> For rent</li>
                                                <li><b>Année de construction:</b> {{ immobilier.anneeConstrunction|date('Y') }}</li>
                                            </ul>
                                        </div>-->
                                    </div>
                                    <!--<h6 class="text-primary">Additional details</h6>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <ul class="property__detail-info-list list-unstyled">
                                                <li><b>Property ID:</b> RV151</li>
                                                <li><b>Price:</b> $484,400</li>
                                                <li><b>Property Size:</b> 1466 Sq Ft</li>
                                                <li><b>Bedrooms:</b> 4</li>
                                                <li><b>Bathrooms:</b> 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <ul class="property__detail-info-list list-unstyled">
                                                <li><b>Garage:</b> 1</li>
                                                <li><b>Garage Size:</b> 458 SqFt</li>
                                                <li><b>Year Built:</b> 2019-01-09</li>
                                                <li><b>Property Type:</b> Full Family Home</li>
                                                <li><b>Property Status:</b> For rent</li>
                                            </ul>
                                        </div>
                                    </div>-->

                                </div>
                                <!-- END INFO PROPERTY DETAIL -->
                            </div>
                            <!-- END PROPERTY DETAILS SPEC -->
                            <div class="clearfix"></div>

                            <!-- FEATURES -->
                            <div class="single__detail-features">
                                <h6 class="text-capitalize detail-heading">Caractéristiques</h6>
                                <ul class="list-unstyled icon-checkbox">

                                    {% if immobilier.climatisation %}
	                                <li>
	                                    <i class="fa fa-server text-success"></i> Climatisation
	                                </li>
	                                {% endif %}

	                                {% if immobilier.piscine %}
	                                <li>
	                                    <i class="fa fa-swimmer text-success"></i> Piscine
	                                </li>
	                                {% endif %}

	                                {% if immobilier.chauffageCentral %}
	                                <li>
	                                    <i class="fa fa-charging-station text-success"></i> Chauffage central
	                                </li>
	                                {% endif %}

	                                {% if immobilier.spaMassages %}
	                                <li>
	                                    <i class="fa fa-procedures text-success"></i> Spa massages
	                                </li>
	                                {% endif %}

	                                {% if immobilier.gym %}
	                                <li>
	                                    <i class="fa fa-people-carry text-success"></i> Gym
	                                </li>
	                                {% endif %}

	                                {% if immobilier.alarme %}
	                                <li>
	                                    <i class="fa fa-podcast text-success"></i> Alarme
	                                </li>
	                                {% endif %}

	                                {% if immobilier.wifi %}
	                                <li>
	                                    <i class="fa fa-wifi text-success"></i> Wifi
	                                </li>
	                                {% endif %}

	                                {% if immobilier.chambres %}
	                                <li>
	                                    <i class="fa fa-bed text-success"></i> Chambres
	                                    ({{ immobilier.chambres }})
	                                </li>
	                                {% endif %}

	                                {% if immobilier.salleBain %}
	                                <li>
	                                    <i class="fa fa-bath text-success"></i> Salle de bain
	                                    ({{ immobilier.salleBain }})
	                                </li>
	                                {% endif %}

	                                {% if immobilier.parking >= 1 %}
	                                <li>
	                                    <i class="fa fa-car-side text-success"></i> Parking
	                                </li>
	                                {% endif %}

	                                {% if immobilier.garage >= 1 %}
	                                <li>
	                                    <i class="fa fa-warehouse text-success"></i> Garage
	                                    ({{ immobilier.garage }})
	                                </li>
	                                {% endif %}

	                                {% if immobilier.tailleGarage >= 1 %}                                
	                                <li>
	                                    <i class="fa fa-car text-success"></i> Taille garage
	                                    ({{ immobilier.tailleGarage }})
	                                </li>
	                                {% endif %}
                                </ul>
                            </div>
                            <!-- END FEATURES -->

                            <!-- LOCATION -->
                            <div class="single__detail-features">
                                <h6 class="text-capitalize detail-heading">location</h6>
                                <!-- FILTER VERTICAL -->
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-map-location-tab" data-toggle="pill"
                                            href="#pills-map-location" role="tab" aria-controls="pills-map-location"
                                            aria-selected="true">
                                            <i class="fa fa-map-marker"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-street-view-tab" data-toggle="pill"
                                            href="#pills-street-view" role="tab" aria-controls="pills-street-view"
                                            aria-selected="false">
                                            <i class="fa fa-street-view "></i></a>
                                    </li>


                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-map-location" role="tabpanel"
                                        aria-labelledby="pills-map-location-tab">
                                        <div id="map-canvas">
                                            <iframe class="h600 w100"
                                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d50446.89789906054!2d-122.41577600000001!3d37.791654!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd473843de08ff793!2sBetter%20Property%20Management!5e0!3m2!1sen!2sus!4v1591226304089!5m2!1sen!2sus"
                                                style="border:0;" allowfullscreen="" aria-hidden="false"
                                                tabindex="0"></iframe>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="pills-street-view" role="tabpanel"
                                        aria-labelledby="pills-street-view-tab">
                                        <iframe class="h600 w100"
                                            src="https://www.google.com/maps/embed?pb=!4v1553797194458!6m8!1m7!1sR4K_5Z2wRHTk9el8KLTh9Q!2m2!1d36.82551718071267!2d-76.34864590837246!3f305.15097!4f0!5f0.7820865974627469"
                                            style="border:0;" allowfullscreen></iframe>
                                    </div>


                                </div>
                                <!-- END FILTER VERTICAL -->
                            </div>
                            <!-- END LOCATION -->

                            
                        </div>
                    </div>