<div class="similiar__property-carousel owl-carousel owl-theme">
	{% for similaire in immobiliersSimilaires %}

		{% if similaire.id == immobilier.id %}

		{% else %}
		<div class="item">
			<!-- ONE -->
			<a href="{{ path('immobiliers_details', {slug: similaire.slug}) }}" class="w-100">
				<div class="card__image-hover h-250 w-100">
					<div class="card__image-hover-overlay">
						<div class="listing-badges">
							<!--<span class="featured">
								{{ include('immobiliers/composants/_statut.html.twig') }}
							</span>-->
							<span>
								{{ similaire.categorie.name }}
							</span>
						</div>
						<div class="card__image-content">
							<div class="card__image-content-desc">
								<p class="mb-0">
									<span class="badge badge-light badge-pill rounded text-uppercase" style="font-size: .7em!important">{{ include('immobiliers/composants/_statut.html.twig') }}</span> <strong>{{ similaire.tarif|number_format(0, ',', ' ') ~ ' ' ~ currency }}</strong>
								</p>
								<h6> {{ similaire.name|u.truncate(60, '...') }}</h6>
								<p class="mb-0"><i class="fa fa-map-marker"></i> {{ similaire.ville.name }} - {{ similaire.reference }}</p>
							</div>
							<ul class="list-inline card__hidden-content">
								{% include('immobiliers/composants/_options.html.twig') %}
							</ul>
						</div>
						{% if similaire.imageName %}

						<img src="{{ vich_uploader_asset(immobilier) | imagine_filter('large_size') }}" 
							class="img-fluid h-40" alt="{{ similaire.name }}">

						{% else %}

						<img src="{{ asset('themes/front/images/gal/4.jpg') }}" class="img-fluid h-40">

						{% endif %}
					</div>
				</div>
			</a>
		</div>
		{% endif %}
	
	{% endfor %}
</div>