<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rethouse - Real Estate HTML Template">
    <meta name="keywords" content="Real Estate, Property, Directory Listing, Marketing, Agency" />
    <meta name="author" content="mardianto - retenvi.com">
    <title>{% block title %}Bienvenu!{% endblock %}</title>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link rel="manifest" href="site.webmanifest">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">

    <meta name="theme-color" content="#3454d1">
    <link href="{{ asset('themes/front/css/styles.css?fd365619e86ad9137a29') }}" rel="stylesheet">
    <style type="text/css">
        .ts-control .item{
            background: #ab911d!important;
            border: transparent!important;
            color: white!important;
        }
        .turbo-progress-bar {
          height: 3px;
          background-color: #ab911d!important;
        }
        .budget .form-control{
            height: auto!important;
        }
    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="bg-white" data-turbo="false">

    {{ include('partials/front/_flash_message.html.twig') }}

    {% block siteheader %}

    <header {% block headerattribut %}{% endblock %}>
        {% block header %}
            {{ include('partials/front/_page_header.html.twig') }}
        {% endblock %}

        {% block breadcrumb %}{% endblock %}
    </header>

    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}

        {{ include('partials/front/_footer.html.twig') }}

    {% endblock %}

    <!-- SCROLL TO TOP -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TO TOP -->
    <script src="{{ asset('themes/front/js/index.bundle.js?fd365619e86ad9137a29') }}"></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
